*{
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
}

.h1{
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bolder;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    max-width: 100%;
    color: rgb(189, 217, 215) !important;
    border-radius: 0%;
    box-shadow: none;
  }
  .expenses {
    /* background-color: rgb(0, 0, 0); */
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
  }
  .expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(189, 217, 215) !important;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
  }
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: relative;
    width: 3px;
  }
  .expense-item:hover {
    transform: translateY(-3px) !important;
    background-color: #75addb6c !important;
    border-color: #4867ca86 !important;
  }
  .expense-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }

  .expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }

  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
      color:rgb(189, 217, 215);
      font-size: 1.55rem;
    }

    .expense-item__description h2 {
      font-size: 1.55rem;
    }

    .expense-item__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }
  .searchbar {
    width: 80%;
    padding-right: 0;
    max-width: 1500;
    display: inline-flex;
    flex-grow: 2;
  }



  .searchbar__input {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid #0c77ce;
    border-radius: 2px 0 0 2px;
    background: #f4faf9;
    transition: background 0.25s, box-shadow 0.25s;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .searchbar__input:focus {
    background: white;
    box-shadow: 0 0 2px #8c9ec6;
  }

  .searchbar__input::placeholder {
    color: #8c9bc6;
  }

  .searchbar__button {
    width: 40px;
    background: #006d98;
    color: #ffffff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
  }

  .searchbar__button:active {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
  }

  .project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: linear-gradient(to right, #000000, #075307) !important;
    /* background-image: var(--section-background-color) !important; */


  }

  .project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }

  .project-card-view {
    box-shadow: 0 3px 4px 3px rgba(255, 255, 255, 0.301) !important;
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }
  .project-card-view-light  {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }
  .project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(72, 144, 88, 0.561) !important;
  }
  .btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2fff3; /* Green */
    border:rgb(0, 0, 0);
    border-width: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
    display: inline-block;
  }
  .btn-primary:hover {
    color: #fff !important;
    background-color: #20a4c5d7 !important;
    border-color: #20c557d7 !important;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }